<div ng-controller="artCtrl" class="newuser">
	<div id="fullpage" class="newuser-fullpage">
    <div class="section section1">fsahfusadfusdfgyasdgfuasy
    	<img src="resources/images/newuser/sct1.png" alt="">
			<div class="grid-mid"></div>
    </div>
    <div class="section section2">
    	<img src="resources/images/newuser/sct2.png" alt="">
			<div class="grid-mid"></div>
    </div>
    <div class="section section3">
    	<img src="resources/images/newuser/sct3.png" alt="">
			<div class="grid-mid"></div>
    </div>
    <div class="section section4">
    	<img src="resources/images/newuser/sct4.png" alt="">
			<div class="grid-mid"></div>
    </div>
    
	</div>
</div>