<div ng-controller="contactusCtrl" ng-bind-html="articleData.content|html" class="mt20">
	<!-- <div class="map">
		<img src="resources/images/map.png" />
	</div>
	<div class="contact mt30">
		<h4 class="title">联系我们</h4>
		<div class="content">
			<p>售前服务：400-800-3136</p>
			<p>售后服务：0571-28889718/28889893</p>
			<p>图文传真：0571-85132616</p>
			<p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：杭州市西湖区文二路391号西湖国际科技园B座裙楼二层</p>
		</div>
	</div>
	<div class="interview mt20">
		<h4 class="title">媒体采访：</h4>
		<div class="content">
			<p>如果有媒体采访需求，请将您的媒体名称、采访提纲、联系方式发至：pr@erongdu.com，我们会尽快与您联系。</p>
		</div>
	</div>
	<div class="corp mt20">
		<h4 class="title">商务合作：</h4>
		<div class="content">
			<p>如果贵公司希望与我们建立商务合作关系，请将合作意向进行简要描述并发送邮件至：pr@erongdu.com，我们会尽快与您联系。</p>
		</div>
	</div> -->
</div>