<div ng-controller="activatedEmaCtrl" style="height:800px;">
	<div class="reg-center">
		<div class="register-step" id="register-step3"></div>
		<div class="reg-content reg-spacing">
			<div id="reg-email1"></div>
			<span class="reg-font1 reg-third">该邮箱已经被激活！</span>
			<p>
	            <span class="reg-font2">您已经完成网站账户的注册，</span>
	            <span class="reg-font6">{{countdown}}</span>
	            <span class="reg-font2">秒钟后进入登录页面，登录后请尽快完善其他信息的设置。</span>
	        </p>
	        <p class="reg-font2">也可以手动点击</p>
            <a class="regThird-btn" ng-click="jumpLogin()">进入我的账户</a>
		</div>
	</div>
</div>