<div ng-controller="registerSecCtrl" >
	<div class="col-sub">
		<ul class="reg-steps">
			<li>填写账户信息<i></i></li>
			<li class="active">账户注册验证<i></i></li>
			<li>账户注册成功<i></i></li>
		</ul>
	</div>
	<div class="col-main">
		<div class="get-register-code">
			<div class="gray" cp-info-cookie="registerPhone" var-name="registerPhone">
				短信验证码已发送至您的手机：<span class="light" ng-bind="registerPhone"></span>
			</div>
			<div>
				<p class="mt15 gray">请输入校验码完成注册</p>
				<div class="mt15">
					<form class="form-fields">
						<div class="field form-group">
							<label>验证码：</label>
							<input type="text" size="25"  ng-model="validCode" name="validCode" ie-placeholder="验证码" />

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>