<div ng-controller="footerCtrl" id="footer" ng-show="footer">
  <!-- <div cp-common-include=" 'template_links' "></div> -->
  <div class="container">
    <span class="logo"></span>
    <span class="city-bg"></span>
    <div class="lnav">
      <a ui-sref="article.aboutus">平台简介</a><span></span><a ui-sref="newuser">新手指引</a><span></span><a ui-sref="article.faq">常见问题</a><span></span><a ui-sref="article.law">法律声明</a><span></span><a ui-sref="article.contactus">联系我们</a>
    </div>
    <div class="left">
      <img ng-src="{{corpInfo.QRCodeUrl}}">
    </div>
    <div class="right">
      <div class="safe">
        <a id='' href='https://credit.szfw.org/CX20160812028502121651.html' target='_blank'><img src='resources/images/cert.png' border='0' height="40" /></a>
        <!-- <a href="http://webscan.360.cn/index/checkwebsite/url/www.hangwt.com"><img border="0" src="resources/images/360.png" /></a> -->
        <a href="http://si.trustutn.org/info?sn=263160815000502113533"><img border="0" src="resources/images/foot-IIV.png" border='0' height="40" /></a>
      </div>
      <!-- {{corpInfo.webPhone}} -->
      <a class="webphone">{{corpInfo.webPhone}}</a>
      <a class="website" href="http://www.hangwt.com">https://www.hangwt.com</a>
    </div>
  </div>
  <div class="laddress">{{corpInfo.copyRight}}&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010202001028" style="display:inline-block;"><img src="resources/images/beian.png" style="vertical-align: middle;display: inline-block;"/><p style="display: inline-block;margin: 0px 0px 0px 5px;color: #c6cbdb;">浙公网安备 33010202001028号</p></a>&nbsp;&nbsp;{{corpInfo.icp}}&nbsp;&nbsp;增值电信业务经营许可证：浙B2-20160994 理财有风险 投资需谨慎
  </div>
</div>
<!-- footerSimply -->
<div ng-controller="footerCtrl" id="footer" ng-show="footerSimply">
  <!-- <div class="simply-footer">	理财有风险 投资需谨慎
			<div class="laddress">{{corpInfo.copyRight}}&nbsp;&nbsp;&nbsp;&nbsp; {{corpInfo.icp}}</div>
	</div> -->
  <div class="container">
    <span class="logo"></span>
    <span class="city-bg"></span>
    <div class="lnav">
      <a ui-sref="article.aboutus">平台简介</a><span></span><a ui-sref="newuser">新手指引</a><span></span><a ui-sref="article.faq">常见问题</a><span></span><a ui-sref="article.law">法律声明</a><span></span><a ui-sref="article.contactus">联系我们</a>
    </div>
    <div class="left">
      <img ng-src="{{corpInfo.QRCodeUrl}}">
    </div>
    <div class="right">
      <div class="safe">
        <a id='' href='https://credit.szfw.org/CX20160812028502121651.html' target='_blank'><img src='resources/images/cert.png' border='0' height="40" /></a>
        <a href="http://si.trustutn.org/info?sn=263160815000502113533"><img border="0" src="resources/images/foot-IIV.png" border='0' height="40" /></a>
      </div>
      <a class="webphone">{{corpInfo.webPhone}}</a>
      <a class="website" href="http://www.hangwt.com">https://www.hangwt.com</a>
    </div>
  </div>
  <div class="laddress">{{corpInfo.copyRight}}&nbsp;&nbsp;&nbsp;&nbsp; {{corpInfo.icp}}&nbsp;&nbsp;增值电信业务经营许可证：浙B2-20160994 理财有风险 投资需谨慎
  </div>
</div>
