<div ng-controller="accountCtrl" id="account-father">
  <div id="content-top">
    <div class="top user">
      <dl class="top-cont ">
        <dt ui-sref="account.photoChange" id="head-photo-root" class="head-photo"><img ng-src="{{user.headPortraitUrl}}?imageView2/1/w/90/h/90/" alt=""></dt>
        <dd>
          <h3>欢迎：<span ng-bind='user.username'></span></h3>
          <p>
            <!-- 用户名：<span ng-bind='user.username'></span>  -->
            <div ng-class="{'identify':user.realNameStatus==1}" pop-tipbox="实名认证" class="user-info" index="1"></div>
            <div ng-class="{'identify':user.phone}" class="user-screen" pop-tipbox="手机认证" index="1"></div>
            <div pop-tipbox="邮箱认证" ng-class="{'identify':user.emailStatus}" class="user-email" index="1"></div> <span>第三方支付账户：</span><span ng-if='user.tppUsername' class="user-account hand" ng-click='subShow(1)' ui-sref="account.payAccount">{{user.tppUsername}}</span><span ng-if='!user.tppUsername&&user.realNameStatus == 4' class="user-account blue1" ui-sref="account.payAccount">审核中</span><span ng-if='!user.tppUsername&&user.realNameStatus != 4' class="user-account blue1" ui-sref="account.payAccount">请点击开通</span><span>最近登录：{{user.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <a ui-sref="account.message" class="user-info-font"><span class="user-info-num" >{{user.isNotReadedMessage}}</span></a>
          </p>
        </dd>
      </dl>
    </div>
  </div>
  <div id="main-cont">
    <ul class="left nav" id="main-nav">
      <li ng-repeat="item in navDate" ng-class="item.className">
        <!-- item.state不为空，只有一级目录 -->
        <a ng-if="item.state" ui-sref-active="active" ng-click="subHide($index)" ui-sref="{{item.state}}">
          <span ng-if="item.name=='我的账户'" class="icon icon1"></span>
          <span ng-if="item.name=='好友邀请'" class="icon icon5"></span>
          <span ng-if="item.name=='我的消息'" class="icon icon6"></span>
          <span ng-if="item.name=='我的优惠'" class="icon icon7"></span>
          <span ng-if="item.name=='账户设置'" class="icon icon8"></span> {{item.name}}
        </a>
        <!-- item.state为空，则存在二级目录 -->
        <a ng-if="!item.state" ng-click="subShow($index)" class="has-sub-item" id="item-{{$index}}" ui-sref="{{item.subState[0].state}}">
          <span ng-if="item.name=='资金管理'" class="icon icon2"></span>
          <span ng-if="item.name=='投资管理'" class="icon icon3"></span>
          <span ng-if="item.name=='借款管理'" class="icon icon4"></span>
          <span ng-if="item.name=='担保管理'" class="icon icon4"></span> {{item.name}}
          <i class="icon-chevron-right"></i></a>
        <ul ng-if="!item.state" class="has-sub" id="has-sub-{{$index}}">
          <li ng-repeat="subItem in item.subState">
            <a ui-sref-active="active" class="child-item" ng-class="[subItem.className]" ng-click="setClass($parent.$index)" ui-sref="{{subItem.state}}">{{subItem.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <div id="info-cont">
      <div id='top-tip' ng-if='!user.tppUsername && user.realNameStatus != 4'>您还未开通第三方支付账户，为了尽快进行投资服务，请<a ui-sref="account.payAccount">点击开通</a></div>
      <div ui-view id="account-cont"></div>
    </div>
  </div>
</div>
