<div ng-controller="bankCardCtrl" id='bankCard' class="tabs2">
	<div class="tab2-nav">
		<a href=""  class="no-border active"><span>银行卡</span></a>
	</div>
	<div class="realname-panel ng-scope" ng-if="status5"> <!---->
		<div class="top">
			<div class="icon4">
			</div>
			<div class="info">
				<h4>请等待平台运营人员进行企业信息核实</h4>
			</div>
		</div>
	</div>
	<div class="part-cont" ui-view>
	</div>
	<div ng-if="corpInfo.tppType=='2'">
		<div class="part-cont">
			<div class="holder">
				<div class="content1">
					<span class="tip-lamp"></span>
				</div>
				<div class="content2">
					<span class="account-font3">温馨提示：</span><br>
					<span>为了您的资金安全，绑定的快捷支付卡将同时绑定为唯一取现卡；</span><br>
					<span>如需解绑快捷卡，请至<a href="https://c.chinapnr.com/p2puser/">汇付官网-p2p账户查询系统</a>进行解绑</span><br>
					<span>3、严禁信用卡套现、虚假交易等行为。</span>
				</div>
			</div>
		</div>
	</div>

</div>
