<div ng-controller="guaranteeBackCtrl">
	<div class="apply_record">
		<div class="tabs2">
			<div class="tab2-nav">
				<a href="" class="active no-border"><span>担保详情</span></a>
			</div>
			<div class="screenColumn">
    			<form>
	    			<span>本期还款日</span>
	    			<select class="rechargeCash-select" ng-model="time" >
	    				<option value="-1">全部</option>
	    				<option value="7d">近7天</option>
	    				<option value="15d">近15天</option>
	    				<option value="1m">近1个月</option>
	    				<option value="2m">近2个月</option>
	    				<option value="">具体日期</option>
	    			</select>
	    			<div ng-if="time == ''" style="display:inline-block" cp-ui-sedate>
		    			<span>日期：</span>
		    			<input type="text"  id="startTime"  class="inputTime Wdate" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}',readOnly:true})"/>
	                    &nbsp;-&nbsp;
		                <input type="text" id="endTime"  class="inputTime Wdate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',readOnly:true})" />
		                <a class="screenSearch" href="javascript:void(0)" ng-click="repaymentData.reload({time:time,startTime:startTime,endTime:endTime,status:repaymentDataStatus})">搜索</a>
		            </div>
	    			<a ng-if="time != ''" class="screenSearch" href="javascript:void(0)" ng-click="repaymentData.reload({startTime:null,endTime:null,time:time,status:repaymentDataStatus})">搜索</a>
	    			<div class="r">
	    				<span>状态</span>
	    				<select name="status" class="rechargeCash-select"  ng-model="repaymentDataStatus">
	    					<option value="">全部</option>
	    					<option value="-1">还款处理中</option>
	    					<option value="0">待还</option>
	    					<option value="1">已还</option>
	    				</select>
	    			</div>
	    		</form>
    		</div>
			<table class="table-noline">
				<thead>
					<tr><td>标的名称</td><td>期数</td><td>本期还款日</td><td>本期应还本息</td><td>利息</td><td>还款状态</td><td>操作</td></tr>
				</thead>
				<tbody cp-list-repayment var-name="repaymentData">
					<tr ng-repeat="item in repaymentData">
						<td class="nameTitle" >
							<a ng-bind="item.borrowName" title="{{item.borrowName}}" ui-sref="borrowDetail({id:item.borrowId})"></a>
						</td>
						<td>{{item.period}}/{{item.totalPeriod}}</td>
						<td ng-bind="item.expectedRepaymentTime|date:'yyyy-MM-dd'"></td>
						<td><span ng-bind="item.repaymentAmount | number:2"></span>元</td>
						<td><span ng-bind="item.interest | number:2"></span>元</td>
						<td>
							<span ng-if="item.status==-1">还款处理中</span>
							<div ng-if="item.status==0"><span ng-if="!item.isOverdue">待还</span><span ng-if="item.isOverdue">逾期待还</span></div>
							<span ng-if="item.status==1">已还</span>
						</td>
						<td><a ng-if="item.status==0" cp-do-borrows-repayment="item" item-id="{{item.id}}" herf="javascript:;">还款 </a></td>
					</tr>
				</tbody>
			</table>
      <div id="page">
        <div paging class="small" page="repaymentDataPage" page-size="repaymentDataPageSize" total="repaymentDataTotal" adjacent="2" dots="..." scroll-top="false" hide-if-empty="true" ul-class="pagination" active-class="active" disabled-class="disabled" show-prev-next="true" paging-action="repaymentDataPageSearch(page)">
        </div>
      </div>
    </div>
  </div>
</div>