<div ng-controller="materialCtrl" id="material" class="tabs2">
	<div class="tab2-nav">
		<a href=""  class="no-border active"><span>证明资料</span></a>
	</div>
	<div class="part-cont" id="upload">		
		<form name="form" ng-submit="" novalidate="novalidate" class="form-horizontal" role="form" >
			<div class="form-group"  ng-if="!show.verify[0].show">				
				<div class="input-group">
					<span class="filed-name">社保：</span> 
					<div p2p-upload p2p-upload-domain="domain" p2p-upload-wrap="upload-wrap" p2p-upload-container="container" upload-file="upload[0].imageUrl" upload-key="uploadKey(0)" p2p-upload-picker="pickfiles"></div>
				</div>
			</div>
			<div class="form-group" ng-if="!show.verify[1].show">				
				<div class="input-group">
					<span class="filed-name">行驶证：</span>
					<div p2p-upload p2p-upload-domain="domain" p2p-upload-wrap="upload-wrap-1" p2p-upload-container="container-1" upload-file="upload[1].imageUrl" upload-key="uploadKey(1)" p2p-upload-picker="pickfiles-1"></div>
				</div>
			</div>
			<div class="form-group" ng-if="!show.verify[2].show">				
				<div class="input-group">
					<span class="filed-name">驾驶证：</span>
					<div p2p-upload p2p-upload-domain="domain" p2p-upload-wrap="upload-wrap-2" p2p-upload-container="container-2" upload-file="upload[2].imageUrl" upload-key="uploadKey(2)" p2p-upload-picker="pickfiles-2"></div>
				</div>
			</div>
			<div class="form-group" ng-if="!show.verify[3].show">				
				<div class="input-group">
					<span class="filed-name">信用报告：</span>
					<div p2p-upload p2p-upload-domain="domain" p2p-upload-wrap="upload-wrap-3" p2p-upload-container="container-3" upload-file="upload[3].imageUrl" upload-key="uploadKey(3)" p2p-upload-picker="pickfiles-3"></div>
				</div>
			</div>
			<div class="form-group" ng-if="!show.verify[4].show">				
				<div class="input-group">
					<span class="filed-name">还款能力证明：</span>
					<div p2p-upload p2p-upload-domain="domain" p2p-upload-wrap="upload-wrap-4" p2p-upload-container="container-4" upload-file="upload[4].imageUrl" upload-key="uploadKey(4)" p2p-upload-picker="pickfiles-4"></div>
				</div>
			</div>
		</form>
		<div  class="wait-audit" >
			<div ng-if="show.verify[0].show" class="form-group" >				
				<div class="input-group">
					<span class="filed-name">社保：</span> 
					<div class="upload-wrap" ng-if="show.verify[0].status!='审核通过'" rd-images-preview items="show.verify[0].imgUrl">
						<div class="img-view" ng-repeat="item in show.verify[0].imgUrl"><img ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""></div>
					</div>
					<div class="upload-wrap" ng-if="show.verify[0].status=='审核通过'" rd-images-preview items="show.verify[0].imgUrl">
						<div class="img-view" ng-repeat="item in show.verify[0].imgUrl" ><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""><span class="suc-upload"></span></div>
					</div>
					<span class="tip" ng-bind="show.verify[0].status"></span>
				</div>
			</div>
			<div ng-if="show.verify[1].show" class="form-group" >				
				<div class="input-group">
					<span class="filed-name">行驶证：</span> 
					<div class="upload-wrap" ng-if="show.verify[1].status!='审核通过'" rd-images-preview items="show.verify[1].imgUrl">
						<div ng-repeat="item in show.verify[1].imgUrl" class="img-view"><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""></div>						
					</div>
					<div class="upload-wrap" ng-if="show.verify[1].status=='审核通过'" rd-images-preview items="show.verify[1].imgUrl">
						<div ng-repeat="item in show.verify[1].imgUrl" class="img-view" ><img ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""><span class="suc-upload"></span></div>						
					</div>
					<span class="tip" ng-bind=" show.verify[1].status" ></span>
				</div>
			</div>
			<div ng-if="show.verify[2].show" class="form-group" >				
				<div class="input-group">
					<span class="filed-name">驾驶证：</span> 
					<div class="upload-wrap" ng-if="show.verify[2].status!='审核通过'" rd-images-preview items="show.verify[2].imgUrl">
						<div ng-repeat="item in show.verify[2].imgUrl" class="img-view"><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""></div>
					</div>
					<div class="upload-wrap" ng-if="show.verify[2].status=='审核通过'" rd-images-preview items="show.verify[2].imgUrl">
						<div ng-repeat="item in show.verify[2].imgUrl" class="img-view"><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""><span class="suc-upload"></span></div>
					</div>
					<span class="tip" ng-bind=" show.verify[2].status" ></span>
				</div>
			</div>
			<div ng-if="show.verify[3].show" class="form-group" >				
				<div class="input-group">
					<span class="filed-name">信用报告：</span> 
					<div class="upload-wrap" ng-if="show.verify[3].status!='审核通过'" rd-images-preview items="show.verify[3].imgUrl">
						<div ng-repeat="item in show.verify[3].imgUrl" class="img-view" ><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""></div>
					</div>
					<div class="upload-wrap" ng-if="show.verify[3].status=='审核通过'" rd-images-preview items="show.verify[3].imgUrl">
						<div ng-repeat="item in show.verify[3].imgUrl" class="img-view" ><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""><span class="suc-upload"></span></div>
					</div>{{}}
					<span class="tip" ng-bind="show.verify[3].status"  ></span>
				</div>
			</div>
			<div ng-if="show.verify[4].show" class="form-group" >				
				<div class="input-group">
					<span class="filed-name">还款能力证明：</span> 
					<div class="upload-wrap"  ng-if="show.verify[4].status!='审核通过'" rd-images-preview items="show.verify[4].imgUrl">
						<div ng-repeat="item in show.verify[4].imgUrl" class="img-view"><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""></div>
					</div>
					<div class="upload-wrap" ng-if="show.verify[4].status=='审核通过'" rd-images-preview items="show.verify[4].imgUrl">
						<div ng-repeat="item in show.verify[4].imgUrl" class="img-view"><img  ng-src="{{domain+item}}?imageView2/1/w/110/h/70" alt=""><span class="suc-upload"></span></div>
					</div>
					<span class="tip" ng-bind=" show.verify[4].status" >资料未审核</span>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="holder">
			<div class="content1">
				<span class="tip-lamp" ></span>
			</div>
			<div class="content2">
				<span>温馨提示：</span><br>
				<span>1、上传资料必须本人的真实、有效资料</span><br>
				<span>2、上传的单张图片大小不得超过2M。</span><br>				
			</div>
		</div>
	</div>

</div>
