<div class="payment ">
  <div class="apply_record">
    <div class="tabs2" cp-ui-tab var-name="status">
      <div class="tab2-nav">
        <a href="" value="0" class="first"><span>待回款</span></a>
        <a href="" value="1" class="last"><span>已回款</span></a>
      </div>
      <div class="mt20">
        <!-- 待回款 -->
        <div ng-if="status == 0" cp-common-include="'template_borrowCollection'">
        </div>
        <!-- 已回款 -->
        <div ng-if="status == 1" cp-common-include="'template_borrowCollection1'">
        </div>
      </div>
    </div>
  </div>
</div>