<div ng-controller="photoChangeCtrl" class="tabs2">
	<form name="form" ng-submit="" novalidate="novalidate" class="form-horizontal" role="form" id="photo-change">
		<div class="head-photo"><img  id="head-photo"  ng-src="{{headUrl}}"></div>
		<div class="col-md-12" id="upload-wrap">
            <div class="img-preview" id="img-preview"></div>
            <input class="upload-file" type="text"  style="display:none">            
            <div id="container">
                <a class="btn btn-default btn-lg " id="pickfiles" href="javascript:;" ng-click="hideError()" >
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>选择文件</span>
                </a>
                <div style="display: inline-block;padding-left:15px;">请上传头像在1MB以内，上传头像大小为90像素*90像素</div>
            </div>
            <div id="size-error" style="display: none;color: red;padding:10px 0;">图片大小超过1MB，请上传小于1MB的图片</div>
        </div>
	</form>
</div>

