<div ng-controller="rechargeAndCashCtrl" id="rechargeAndCash">
	<h1 class="accountTitle">充值提现</h1>
	<div class="accountLine"></div>
	<div class="rechargeCash-content">
		<div class="rechargeCash-part1">
			<div>
				<span class="rechargeCash-font">可用余额</span>
				<div class="rechargeCash-icon" pop-tipbox="账户内您可自由支配的资金"></div>
			</div>
			<div class="rechargeCash-space">
				<span class="rechargeCash-font3">{{balanceAvailable}}.</span>
				<span class="rechargeCash-font4">{{balanceAvailable_decimal}}</span>元
			</div>
		</div>
		<div class="rechargeCash-part3">
			<div class="rechargeCash-btn1"  ng-click="jump(1)">充值</div>
			<div class="rechargeCash-btn2"  ng-click="jump(2)">提现</div>
		</div>
	</div>
	<div tabs class="rechargeCash-tabs">
		<div class="rechargeCash-nav">
			<a class="rechargeCash-label"><span>充值记录</span></a>
			<a class="rechargeCash-label">提现记录</a>
		</div>
	    <div>
	    	<div class="rechargeCash-tab">
	    		<div class="screenColumn">
	    			<form>
		    			<span>日期范围</span>
		    			<select name="time" ng-model="formData1.time" class="rechargeCash-select" ng-change="changeTime1()">
		    				<option value="-1" selected="selected">全部</option>
		    				<option value="7d">近7天</option>
		    				<option value="15d">近15天</option>
		    				<option value="1m">近1个月</option>
		    				<option value="2m">近2个月</option>
		    				<option value="">具体日期</option>
		    			</select>
		    			<div ng-show="searchDate1" style="display:inline-block">
			    			<span>日期：</span>
			    			<input type="text" ng-model="formData1.startTime" id="startTime"  class="inputTime Wdate" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}',readOnly:true})"/>
		                    &nbsp;-&nbsp;
			                <input type="text" ng-model="formData1.endTime" id="endTime"  class="inputTime Wdate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',readOnly:true})" />
			            </div>
		    			<a class="screenSearch" href="javascript:void(0)" ng-click="change1(1)">搜索</a>
		    			<div style="float:right">
		    				<span>交易状态</span>
		    				<select name="status" class="rechargeCash-select" ng-change="change1(1)" ng-model="formData1.status">
		    					<option value="">全部</option>
		    					<option value="0">充值处理中</option>
		    					<option value="1">充值成功</option>
		    					<option value="2">充值失败</option>
		    					<!-- <option value="6">人工处理</option> -->
		    				</select>
		    			</div>
		    		</form>
	    		</div>
	    		<table class="account-table" style="width:100%">
					<thead class="thead-holder" style="border:none">
			    		<tr >
			    			<td>充值时间</td>
			    			<td>充值流水号</td>
			    		    <td>充值金额</td>
			    		    <td>状态</td>
			    		</tr>
				    </thead>
				    <tbody>
				    	<tr ng-repeat="item in innerData1">
						    <td ng-bind="item.addTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
						    <td ng-bind="item.tradeNo"></td>
						    <td><span ng-bind="item.cash | number:2"></span>元</td>
						    <td>
						    	<span ng-if="item.status==0||item.status==6">充值处理中</span>
						    	<span ng-if="item.status==1">充值成功</span>
						    	<span ng-if="item.status==2">充值失败</span>
						    	<span ng-if="item.status==-1">充值初始中</span>
						    	<!-- <span ng-if="item.status==6">人工处理</span> -->
						    </td>
					    </tr>
				    </tbody>
				</table>
			    <div id="page">
			    	<div paging
					    	class="small"
								page="page1"
								page-size="pageSize"
								total="total1"
								adjacent="2"
								dots="..."
								scroll-top="false"
								hide-if-empty="true"
								ul-class="pagination"
								active-class="active"
								disabled-class="disabled"
								show-prev-next="true"
								paging-action="change1(page,1)">
			    	</div>
			    </div>
	    	</div>
	    	<div class="rechargeCash-tab">
	    		<div class="screenColumn">
	    			<form>
		    			<span>日期范围</span>
		    			<select class="rechargeCash-select" ng-model="formData2.time" ng-change="changeTime2()">
		    				<option value="-1">全部</option>
		    				<option value="7d">近7天</option>
		    				<option value="15d">近15天</option>
		    				<option value="1m">近1个月</option>
		    				<option value="2m">近2个月</option>
		    				<option value="">具体日期</option>
		    			</select>
		    			<div ng-show="searchDate2" style="display:inline-block">
			    			<span>日期：</span>
			    			<input type="text"  id="cash-startTime"   class="inputTime Wdate" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}',readOnly:true})"/>
		                    &nbsp;-&nbsp;
			                <input type="text" id="cash-endTime"  class="inputTime Wdate" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}',readOnly:true})" />
			            </div>
		    			<a class="screenSearch" href="javascript:void(0)" ng-click="change2(1)">搜索</a>
		    			<div style="float:right">
		    				<span>交易状态</span>
		    				<select name="status" class="rechargeCash-select" ng-change="change2(1)" ng-model="formData2.status">
		    					<option value="">全部</option>
		    					<option value="0">提现处理中</option>
		    					<option value="1">提现成功</option>
		    					<option value="2">提现失败</option>
		    					<!-- <option value="6">人工处理</option> -->
		    				</select>
		    			</div>
		    		</form>
	    		</div>
	    		<table class="account-table" style="width:100%">
					<thead class="thead-holder" style="border:none">
			    		<tr >
			    			<td>提现时间</td>
			    			<td>提现流水号</td>
		    		    <td>提现银行|账户</td>
		    		    <td>提现金额</td>
		    		    <td>手续费</td>
		    		    <td>状态</td>
			    		</tr>
				    </thead>
				    <tbody>
				    	<tr ng-repeat="item in innerData2">
						    <td ng-bind="item.addTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
						    <td ng-bind="item.tradeNo"></td>
						    <td>
									<span ng-if="item.bankNo" ng-bind="item.bankNo"></span>
									<span ng-if="!item.bankNo">— —</span>
						    </td>
						    <td><span ng-bind="item.cash | number:2"></span>元</td>
						    <td><span ng-bind="item.fee | number:2"></span>元</td>
						    <td >
						    	<span ng-if="item.status==0||item.status==6">提现处理中</span>
						    	<span ng-if="item.status==1">提现成功</span>
						    	<span ng-if="item.status==2">提现失败</span>
						    	<span ng-if="item.status==-1">提现初始中</span>
						    	<!-- <span ng-if="item.status==6">人工处理</span> -->
						    </td>
					    </tr>
				    </tbody>
				</table>
			    <div id="page">
			    	<div  paging
					    	class="small"
								page="page2"
								page-size="pageSize"
								total="total2"
								adjacent="2"
								dots="..."
								scroll-top="false"
								hide-if-empty="true"
								ul-class="pagination"
								active-class="active"
								disabled-class="disabled"
								show-prev-next="true"
								paging-action="change2(page,1)">
			    	</div>
			    </div>
	    	</div>
		</div>
	</div>
</div>