<div ng-controller="newTaskCtrl" id="new-task">
  <div class="banner"></div>
  <div class="container">
    <h2>新手任务（{{init.step}}/5）</h2>
    <!-- <a ng-show="!repaymentData" class="dialog-button" pay-tag="true"  cp-do-borrows-payback="{id:111}" target="_blank">确认还款</a> -->
    <div id="step-wrap">
      <div class="step-default">
        <ul>
          <li ng-if="init.register"></li>
          <li ng-if="init.identify"></li>
          <li ng-if="init.recharge"></li>
          <li ng-if="init.invest"></li>
          <li ng-if="init.invitation"></li>
        </ul>
      </div>
      <table>
        <tr>
          <td>任务一：用户注册</td>
          <td class="bonus">奖励：<span class="amount">¥ 50 <i>红包</i></span></td>
          <td>状态：<span class="status" ng-if="init.register">已完成</span><span class="status" ng-if="!init.register">进行中</span></td>
          <td><a ng-if="init.register">任务已完成</a><a ng-if="!init.register" ui-sref="register" ng-class="{active: !init.register}">立即去完成</a></td>
        </tr>
        <tr>
          <td>任务二：实名认证</td>
          <td class="bonus">奖励：<span class="amount">¥ 50 <i>红包</i></span></td>
          <td>状态：<span class="status" ng-if="init.identify">已完成</span><span class="status" ng-if="!init.identify">进行中</span></td>
          <td><a ng-if="init.identify">任务已完成</a><a ng-if="!init.identify" ui-sref="account.payAccount" ng-class="{active: !init.identify}">立即去完成</a></td>
        </tr>
        <tr>
          <td>任务三：首次充值</td>
          <td class="bonus">奖励：<span class="amount">¥ 88 <i>红包</i></span></td>
          <td>状态：<span class="status" ng-if="init.recharge">已完成</span><span class="status" ng-if="!init.recharge">进行中</span></td>
          <td><a ng-if="init.recharge">任务已完成</a><a ng-if="!init.recharge" ui-sref="account.rechargeAndCash" ng-class="{active: !init.recharge}">立即去完成</a></td>
        </tr>
        <tr>
          <td>任务四：首次投资</td>
          <td class="bonus">奖励：<span class="amount">¥25+5 <i>红包</i></span></td>
          <td>状态：<span class="status" ng-if="init.invest">已完成</span><span class="status" ng-if="!init.invest">进行中</span></td>
          <td><a ng-if="init.invest">任务已完成</a><a ng-if="!init.invest" ui-sref="invest" ng-class="{active: !init.invest}">立即去完成</a></td>
        </tr>
        <tr>
          <td>任务五：邀请好友首次投资</td>
          <td class="bonus">奖励：<span class="amount" style="letter-spacing: -1px;">¥ 100 <i>红包</i></span></td>
          <td>状态：<span class="status" ng-if="init.invitation">已完成</span><span class="status" ng-if="!init.invitation">进行中</span></td>
          <td><a ng-if="init.invitation">任务已完成</a><a ng-if="!init.invitation" ui-sref="account.invitation" ng-class="{active: !init.invitation}">立即去完成</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
