<div ng-controller="corpBorrowCtrl" id="corpBorrow" class="login">
	<div class="register-main">
		<div class="register-step1-bg">
			<div class="reg-center">
				<div class="register-info">
					<form name="form" novalidate ng-submit="submit(form)">
						<h2>请进行登录密码的设置</h2>
						<div class="reigster-block form-group" id="username" >
							<div class="register-unit">	
								<div class="register-tip"></div>
								<span class="register-icons">用 户 名</span>
							</div>
							<span class="read" ng-bind="formData.username"></span>
							<!-- <input type="text" class="register-input" ng-model="formData.username" readonly="readonly" /> -->
							<input type="hidden" class="register-input" ng-model="formData.activeUrl"  readonly="readonly" />
						</div>
						<div class="reigster-block form-group">
							<div ng-tipbox="8~16位数字及英文字母，其中至少包含一个字母和一个数字"></div>
							<div class="register-unit">	
								<div class="register-tip"></div>
							    <span class="register-icons">登录密码</span>
							</div>
						    <input type="password" class="register-input" ng-pattern="/^(?![a-zA-Z]+$)(?!\d+$)[0-9A-Za-z]{8,16}$/" ng-minlength="8" maxlength="16" ng-model="formData.password" required pattern-err-type="PasswordError" ie-placeholder="请输入密码" />
						</div>
						<div class="reigster-block form-group">
							<div ng-tipbox="请再次输入密码"></div>
							<div class="register-unit">	
								<div class="register-tip"></div>
						        <span class="register-icons">确认密码</span>
						    </div>
						    <input type="password"  class="register-input" ng-pattern="/^(?![a-zA-Z]+$)(?!\d+$)[0-9A-Za-z]{8,16}$/" ng-minlength="8" maxlength="16" compare-to="formData.password"  ng-model="confirmPassword"  required pattern-err-type="PasswordError" ie-placeholder="请重复输入密码"/>
						</div>
						<input type="submit" class="reg-btn" id="register_button"  value="确认" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>